block content
doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Witaj użytkowniku!
    // Bootstrap CSS
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    link(rel='stylesheet', href='css/styles.css')
    title Hello, world!
  body.text-center
    .container-fluid
      .row.col1
        nav.navbar.navbar-expand-xl.navbar-light
          img.mb-4(src='img/empirica-logo.png', alt='', width='250', height='75')
          #navbarNavAltMarkup.collapse.navbar-collapse
            .navbar-nav
              a.nav-item.nav-link(href='#')
                | Rejestracja
                span.sr-only (current)
              a.nav-item.nav-link(href='#') Karta pracy
              a.nav-item.nav-link(href='/analysis') Analiza
              a.btn.btn-info.logoutBtn(href='/logout')
                span.glyphicon.glyphicon-log-out.text-right
                |  Wyloguj
      .row
        .col-sm-2
          | Witaj w aplikacji do rejestrowania czasu pracy!
        .col-sm-10
          .container-fluid
            table.table.table-hover.table-responsive
              thead
                tr
                  th(scope='col') Data
                  th(scope='col') Projekt
                  th(scope='col') Klient
                  th(scope='col') Typ
                  th(scope='col') Sprint
                  th(scope='col') Numer Zadania
                  th(scope='col') Opis  
                  th(scope='col') Czas
              tbody
                each record in records
                  tr
                    td=record.date
                    td=record.project
                    td=record.client
                    td=record.type
                    td=record.sprint
                    td=record.task
                    td=record.description
                    td=record.time
                    td
                      a.btn.btn-warning.a-btn-slide-text(href="/forme?id=" + record._id)
                        span.glyphicon.glyphicon-edit(aria-hidden='true')
                        span
                          strong Edit
                    td
                      a.btn.btn-danger.a-btn-slide-text(href="/formd?id=" + record._id)
                        span.glyphicon.glyphicon-remove(aria-hidden='true')
                        span
                          strong Delete
              tfoot
                tr
                  td(colspan='2', style='text-align: center;')
                    a.btn.btn-success.a-btn-slide-text(href='/form')
                      span
                        strong Zarejestruj kolejne godziny!
                tr
    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
